@font-face {
  font-family: "ABeeZee";
  src: url("/fonts/ABeeZee-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Abel";
  src: url("/fonts/Abel.woff2") format("woff2");
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("/fonts/AbhayaLibre-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Abril Fatface";
  src: url("/fonts/AbrilFatface-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Acme";
  src: url("/fonts/Acme-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Actor";
  src: url("/fonts/Actor-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Aladin";
  src: url("/fonts/Aladin-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Agbalumo";
  src: url("/fonts/Agbalumo-Regular.woff2") format("woff2");
}